<%= form_for(clinic) do |f| %>
  <% if clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% clinic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name , class:'form-control'%> 
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address , class:'form-control'%> 
    Reverse geocoding is done. Please ensure the address is correct!
  </div>

  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class:'form-control' %> 
    <p>This mobile receives sms when stock replensihment is required. Use interntional number</p>
  </div>

  <div class="actions">
    <%= f.submit  class:'btn btn-primary btn-large'%>
  </div>
<% end %>
