<p id="notice"><%= notice %></p>

<%= link_to 'New Clinic', new_clinic_path ,class:'btn btn-secondary right' %>

<h1>Clinics</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th  class="hidden-xs-down" >Address</th>
      <th  class="hidden-xs-down" >Latitude</th>
      <th  class="hidden-xs-down" >Longitude</th>
      <th  class="hidden-xs-down">Mobile</th>
      <th  class="hidden-xs-down" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinics.each do |clinic| %>
      <tr>
        <td><%= link_to clinic.name, clinic %>
            <p class="hidden-md-up"><%= clinic.address %></p>

        </td>
        <td  class="hidden-xs-down" ><%= clinic.address %></td>
        <td  class="hidden-xs-down" ><%= clinic.latitude %></td>
        <td  class="hidden-xs-down" ><%= clinic.longitude %></td>
        <td  class="hidden-xs-down" ><%= clinic.mobile %></td> 
        <td  class="hidden-xs-down" ><%= link_to 'Edit', edit_clinic_path(clinic) ,class:'btn btn-secondary btn-sm'%></td>
        <td  class="hidden-xs-down" ><%= link_to 'Destroy', clinic, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-danger btn-sm'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @clinics %>

<br>
