
<div id="log" style="border-left:4px solid yellowgreen;padding-left:40px;margin-bottom:50px"></div> 

 <div class="row">
    <div class="col-md-6">
<% if @stocks.count > 0 %>
<div style="border-left:4px solid tomato;padding-left:40px;margin-bottom:50px">
<h5>Replenishment required</h5>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Product</th>
      <th>Current stock</th> 
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.clinic.name , stock.clinic%></td>
        <td><%= link_to stock.product.name , stock.product%></td>
        <td><%= stock.quantity %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<% end %>
    </div>
    <div class="col-md-6">
<div style="border-left:4px solid dodgerblue;padding-left:40px;margin-bottom:50px">
<h5>Total products at clinics</h5>
<br>
<table class="table">
  <thead>
    <tr> 
      <th>Product</th>
      <th>Total</th> 
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name,product %></td> 
        <td><%= product.stocks.sum(:quantity) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

</div>


<script> 
var stock_takes=[];
var pusher = new Pusher('62217549218f218bf085', {
  cluster: 'eu',
  encrypted: true
});
var channel = pusher.subscribe('mezzanine-stocktake');

channel.bind('stocktake_event_1', function(data) {
  console.log(JSON.stringify(data));
  stock_takes.push(data.stock_take);
  buildStock();
});

function buildStock(){

    var limit = 5;
    var table = '<h5>Realtime stock takes</h5><br><table class="table">';
    for(var i= stock_takes.length; i > 0 && limit > 0 ; i--){
 
      table += '<tr>';
      table += '<td>'+stock_takes[i-1].clinic +'</td>';
      table += '<td>'+stock_takes[i-1].product +'</td>';
      table += '<td>'+stock_takes[i-1].quantity +'</td>';  
      table += '<td>'+stock_takes[i-1].created_at  +'</td>';   
      if ( stock_takes[i-1].quantity > stock_takes[i-1].replenish_quantity){
          table += '<td><div class="hasstock"> OK </div></td>' 
      } else {
          table += '<td><div class="replenish"> REPLENISH!  </div></td>' 
      } 
      
      table += '</tr>';
      limit--;
    }
    table += '</table><p>Showing last 5</p>';
    $('#log').html(table);
    console.log(table);
}
</script>



