 <div class="row">
    <div class="col-md-6">
<% if @stocks.count > 0 %>
<div style="border-left:4px solid tomato;padding-left:40px;margin-bottom:50px">
<h5>Replenishment required</h5>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Product</th>
      <th>Current stock</th> 
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.clinic.name , stock.clinic%></td>
        <td><%= link_to stock.product.name , stock.product%></td>
        <td><%= stock.quantity %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<% end %>
    </div>
    <div class="col-md-6">
<div style="border-left:4px solid dodgerblue;padding-left:40px;margin-bottom:50px">
<h5>Total products at clinics</h5>
<br>
<table class="table">
  <thead>
    <tr> 
      <th>Product</th>
      <th>Total</th> 
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name,product %></td> 
        <td><%= product.stocks.sum(:quantity) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

</div>