 <div class="row">
    <div class="col-md-6">
<% if @stocks.count > 0 %>
<div style="border-left:4px solid tomato;padding-left:40px;margin-bottom:50px">
<h5>Replenishment required</h5>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Product</th>
      <th>Current stock</th> 
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.clinic.name , stock.clinic%></td>
        <td><%= link_to stock.product.name , stock.product%></td>
        <td><%= stock.quantity %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<% end %>
    </div>
    <div class="col-md-6">
<div style="border-left:4px solid dodgerblue;padding-left:40px;margin-bottom:50px">
<h5>Total products at clinics</h5>
<br>
<table class="table">
  <thead>
    <tr> 
      <th>Product</th>
      <th>Total</th> 
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name,product %></td> 
        <td><%= product.stocks.sum(:quantity) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

</div>
<div id="log"></div>


<script> 
var stock_takes=[];
var pusher = new Pusher('62217549218f218bf085', {
  cluster: 'eu',
  encrypted: true
});
var channel = pusher.subscribe('mezzanine-stocktake');

channel.bind('stocktake_event', function(data) {
  console.log(JSON.stringify(data));
  stock_takes.push(data.stock_take);
  buildStock();
});

function buildStock(){
    var table = '<table class="table">';
    for(var i=0; i < stock_takes.length; i++){
      table += '<tr>';
      table += '<td>'+stock_takes[i].clinic +'</td>';
      table += '<td>'+stock_takes[i].product +'</td>';
      table += '<td>'+stock_takes[i].quantity +'</td>';  
      table += '</tr>';
    }
    table += '</table>';
    $('#log').html(table);
    console.log(table);
}
</script>



