<%= form_for(stock_take) do |f| %>
  <% if stock_take.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_take.errors.count, "error") %> prohibited this stock_take from being saved:</h2>

      <ul>
      <% stock_take.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="field">
    <%= f.label :clinic_id %>
    <%= f.text_field :clinic_id %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
