<p id="notice"><%= notice %></p>

<h1>Stock Takes</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Clinic</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Quantity</th> 
      <th>When</th> 
    </tr>
  </thead>

  <tbody>
    <% @stock_takes.each do |stock_take| %>
      <tr>
        <td><%= stock_take.product.name %></td>
        <td><%= stock_take.clinic.name %></td>
        <td><%= stock_take.latitude %></td>
        <td><%= stock_take.longitude %></td>
        <td><%= stock_take.quantity %></td> 
        <td><%= time_ago_in_words stock_take.created_at %> ago</td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stock_takes %>
