<p id="notice"><%= notice %></p>
<% if @stocks.count > 0 %>
<div style="border-left:4px solid tomato;padding-left:40px;margin-bottom:50px">
<h1>Replenishment Required</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Product</th>
      <th>Quantity</th> 
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.clinic.name %></td>
        <td><%= stock.product.name %></td>
        <td><%= stock.quantity %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<% end %>
<h4>Stock Takes</h4>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Clinic</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Quantity</th> 
      <th>When</th> 
    </tr>
  </thead>

  <tbody>
    <% @stock_takes.each do |stock_take| %>
      <tr>
        <td><%= stock_take.product.name %></td>
        <td><%= stock_take.clinic.name %></td>
        <td><%= stock_take.latitude %></td>
        <td><%= stock_take.longitude %></td>
        <td><%= stock_take.quantity %></td> 
        <td><%= time_ago_in_words stock_take.created_at %> ago</td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stock_takes %>
