<p id="notice"><%= notice %></p>

<h1>Clinic stock</h1>
<br>
<table class="table">
  <thead>
    <tr> 
      <th>Clinic</th>
      <th>Product</th>
      <th style="text-align:right;">Quantity</th>
      <th class="hidden-xs-down">Replenisch Qty</th>
      <th class="hidden-xs-down" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.clinic.name , stock.clinic%></td>
        <td><%= link_to stock.product.name , stock.product %></td>
        <td style="text-align:right;"><%= stock.quantity   %></td>
        <td class="hidden-xs-down"><%= stock.replenisch_at_quantity %></td> 
        <td class="hidden-xs-down"><%= link_to 'Edit', edit_stock_path(stock),class:'btn btn-secondary btn-sm' %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
  
<%= will_paginate @stocks %>
