<p id="notice"><%= notice %></p>

<h1>Clinic stock</h1>
<br>
<table class="table">
  <thead>
    <tr> 
      <th>Clinic</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Replenisch Qty</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.clinic.name , stock.clinic%></td>
        <td><%= link_to stock.product.name , stock.product %></td>
        <td><%= stock.quantity   %></td>
        <td><%= stock.replenisch_at_quantity %></td> 
        <td><%= link_to 'Edit', edit_stock_path(stock),class:'btn btn-secondary btn-sm' %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
  
<%= will_paginate @stocks %>
