<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email , class:'form-control'%>
  </div>

  <div class="field">
    <%= f.label :mobile %>
    <%= f.number_field :mobile, class:'form-control' %>
     <p>This mobile receives sms 4 digit security pin. Use international number</p>
  </div>
 

  <div class="actions">
  
    <%= f.submit  class:'btn btn-primary btn-large'%>
  </div>
<% end %>
