<p id="notice"><%= notice %></p>

<%= link_to 'New User', new_user_path ,class:'btn btn-secondary right' %>
<h1>Users</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="hidden-xs-down">Email</th>
      <th>Mobile</th>
      <th class="hidden-xs-down">Pin</th> 
      <th class="hidden-xs-down" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name,user %></td>
        <td class="hidden-xs-down"><%= user.email %></td>
        <td><%= user.mobile %></td>
        <td class="hidden-xs-down"><%= user.pin %></td> 
        <td class="hidden-xs-down" width="50"><%= link_to 'Edit', edit_user_path(user) ,class:'btn btn-secondary btn-sm'%></td>
        <td class="hidden-xs-down" width="50"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-danger btn-sm'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
 


<%= will_paginate @users %>