<p id="notice"><%= notice %></p>

<%= link_to 'New Product', new_product_path ,class:'btn btn-secondary right' %>
<h1>Products</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th> 
      <th>Barcode</th>
      <th style="text-align:right;">Stock</th>
      <th  class="hidden-xs-down"  colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name ,product %></td> 
        <td><%= product.barcode %></td> 
        <td style="text-align:right;"><%= product.stocks.sum(:quantity) %></td> 

        <td  class="hidden-xs-down" width="40"><%= link_to 'Edit', edit_product_path(product) ,class:'btn btn-secondary btn-sm'%></td>
        <td  class="hidden-xs-down"  width="40">

        <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-danger btn-sm'%>
        

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 


<%= will_paginate @products %>